Repository csesoc/circles, changes with the owners that CODEOWNERS names for each.
All owners: @csesoc/technical, @Peedee2002, @imagine-hussain, @gtangelo, @leonardo-fan

CODEOWNERS:

.github/ @csesoc/technical
renovate.json @csesoc/technical

backend/ @Peedee2002 @imagine-hussain
frontend/ @gtangelo @leonardo-fan

Disable guest accounts
  backend/requirements.txt
  backend/server/routers/auth.py
  backend/server/routers/dev.py
  backend/server/server.py
  backend/server/tests/user/utility.py
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Login/styles.ts
  setup_env.py
Owners: @Peedee2002, @imagine-hussain, @gtangelo, @leonardo-fan

Rename environment variable
  backend/server/server.py
  setup_env.py
Owners: @Peedee2002, @imagine-hussain

wip: doing removeCourseMutation
  frontend/src/components/CourseCartCard/CourseCartCard.tsx
  frontend/src/utils/apiHooks/user/index.ts
  frontend/src/utils/apiHooks/user/useRemoveCourseMutation.tsx
Owners: @gtangelo, @leonardo-fan

feat: updateMark, removeAllCourses, and resetUser hooks... also fixes type no-arg mutations
  frontend/src/components/EditMarkModal/EditMarkModal.tsx
  frontend/src/components/PlannerCart/PlannerCart.tsx
  frontend/src/components/ResetModal/ResetModal.tsx
  frontend/src/pages/DegreeWizard/DegreeWizard.tsx
  frontend/src/utils/apiHooks/user/hookHelpers.ts
  frontend/src/utils/apiHooks/user/index.ts
  frontend/src/utils/apiHooks/user/mutations.ts
Owners: @gtangelo, @leonardo-fan

fix: bad imports for new use queries
  frontend/src/components/CourseDescriptionPanel/CourseInfoDrawers.tsx
  frontend/src/components/PlannerCart/PlannerCart.tsx
  frontend/src/pages/CourseSelector/CourseBanner/CourseBanner.tsx
  frontend/src/pages/CourseSelector/CourseSelector.tsx
  frontend/src/pages/GraphicalSelector/CourseGraph/CourseGraph.tsx
  frontend/src/pages/GraphicalSelector/GraphicalSelector.tsx
  frontend/src/pages/ProgressionChecker/Dashboard/Dashboard.tsx
  frontend/src/pages/ProgressionChecker/ProgressionChecker.tsx
  frontend/src/pages/TermPlanner/HideYearTooltip/HideYearTooltip.tsx
  frontend/src/pages/TermPlanner/OptionsHeader/OptionsHeader.tsx
  frontend/src/pages/TermPlanner/TermBox/TermBox.tsx
  frontend/src/pages/TermPlanner/TermPlanner.tsx
  frontend/src/pages/TermPlanner/UnplannedColumn/UnplannedColumn.tsx
  frontend/src/utils/apiHooks/user/index.ts
  frontend/src/utils/apiHooks/user/useUserCourses.tsx
  frontend/src/utils/apiHooks/user/useUserDegree.tsx
  frontend/src/utils/apiHooks/user/useUserPlanner.tsx
Owners: @gtangelo, @leonardo-fan

feat: added support for queryClient and toggleShowMarks, hideYears, showYears hooks
  frontend/src/hooks/useSettings.ts
  frontend/src/utils/apiHooks/user/hookHelpers.ts
  frontend/src/utils/apiHooks/user/index.ts
  frontend/src/utils/apiHooks/user/mutations.ts
Owners: @gtangelo, @leonardo-fan

feat: main three user queries abstracted
  frontend/src/components/CourseDescriptionPanel/CourseInfoDrawers.tsx
  frontend/src/components/PlannerCart/PlannerCart.tsx
  frontend/src/hooks/useIdentity.ts
  frontend/src/pages/CourseSelector/CourseBanner/CourseBanner.tsx
  frontend/src/pages/CourseSelector/CourseSelector.tsx
  frontend/src/pages/GraphicalSelector/CourseGraph/CourseGraph.tsx
  frontend/src/pages/GraphicalSelector/GraphicalSelector.tsx
  frontend/src/pages/ProgressionChecker/Dashboard/Dashboard.tsx
  frontend/src/pages/ProgressionChecker/ProgressionChecker.tsx
  frontend/src/pages/TermPlanner/HideYearTooltip/HideYearTooltip.tsx
  frontend/src/pages/TermPlanner/OptionsHeader/OptionsHeader.tsx
  frontend/src/pages/TermPlanner/TermBox/TermBox.tsx
  frontend/src/pages/TermPlanner/TermPlanner.tsx
  frontend/src/pages/TermPlanner/UnplannedColumn/UnplannedColumn.tsx
  frontend/src/reducers/identitySlice.ts
  frontend/src/utils/apiHooks/keys.md
  frontend/src/utils/apiHooks/useUserCourses.tsx
  frontend/src/utils/apiHooks/useUserDegree.tsx
  frontend/src/utils/apiHooks/useUserPlanner.tsx
Owners: @gtangelo, @leonardo-fan

feat: toggleLockedTerm, toggleSummer, updateStart and updateLength
  frontend/src/components/ResetModal/ResetModal.tsx
  frontend/src/pages/TermPlanner/SettingsMenu/SettingsMenu.tsx
  frontend/src/pages/TermPlanner/TermBox/TermBox.tsx
  frontend/src/utils/api/plannerApi.ts
  frontend/src/utils/apiHooks/user/index.ts
  frontend/src/utils/apiHooks/user/mutations.ts
Owners: @gtangelo, @leonardo-fan

feat: final few mutations
  frontend/src/pages/DegreeWizard/StartBrowsingStep/StartBrowsingStep.tsx
  frontend/src/pages/TermPlanner/ContextMenu/ContextMenu.tsx
  frontend/src/pages/TermPlanner/ImportPlannerMenu/ImportPlannerMenu.tsx
  frontend/src/pages/TermPlanner/OptionsHeader/OptionsHeader.tsx
  frontend/src/pages/TermPlanner/TermPlanner.tsx
  frontend/src/utils/apiHooks/user/hookHelpers.ts
  frontend/src/utils/apiHooks/user/index.ts
  frontend/src/utils/apiHooks/user/mutations.ts
Owners: @gtangelo, @leonardo-fan

wip: refactored hook creation and added addToUnplanned and removeCourse
  frontend/src/components/CourseSearchBar/CourseSearchBar.tsx
  frontend/src/components/PlannerButton/PlannerButton.tsx
  frontend/src/components/QuickAddCartButton/QuickAddCartButton.tsx
  frontend/src/pages/CourseSelector/CourseMenu/CourseMenu.tsx
  frontend/src/pages/TermPlanner/ContextMenu/ContextMenu.tsx
  frontend/src/utils/apiHooks/keys.md
  frontend/src/utils/apiHooks/user/hookHelpers.ts
  frontend/src/utils/apiHooks/user/index.ts
  frontend/src/utils/apiHooks/user/mutations.ts
  frontend/src/utils/apiHooks/user/queries.ts
  frontend/src/utils/apiHooks/user/useRemoveCourseMutation.tsx
  frontend/src/utils/apiHooks/user/useUserCourses.tsx
  frontend/src/utils/apiHooks/user/useUserDegree.tsx
  frontend/src/utils/apiHooks/user/useUserPlanner.tsx
Owners: @gtangelo, @leonardo-fan

fix: removed user/mutation imports
  frontend/src/pages/DegreeWizard/DegreeWizard.tsx
  frontend/src/pages/TermPlanner/OptionsHeader/OptionsHeader.tsx
  frontend/src/utils/apiHooks/user/index.ts
Owners: @gtangelo, @leonardo-fan

wip: created most hooks, working on static hooks
  frontend/src/components/Auth/PreventToken.tsx
  frontend/src/components/Auth/RequireToken.tsx
  frontend/src/components/CourseDescriptionPanel/CourseAttributes/CourseAttributes.tsx
  frontend/src/components/CourseDescriptionPanel/CourseDescriptionPanel.tsx
  frontend/src/components/CourseDescriptionPanel/CourseInfoDrawers.tsx
  frontend/src/hooks/useSettings.ts
  frontend/src/pages/CourseSelector/CourseMenu/CourseMenu.tsx
  frontend/src/pages/DegreeWizard/DegreeWizard.tsx
  frontend/src/pages/GraphicalSelector/CourseGraph/CourseGraph.tsx
  frontend/src/pages/LandingPage/LandingPage.tsx
  frontend/src/pages/LoginSuccess/LoginSuccess.tsx
  frontend/src/pages/TermPlanner/TermPlanner.tsx
  frontend/src/utils/apiHooks/hookHelpers.ts
  frontend/src/utils/apiHooks/static.ts
  frontend/src/utils/apiHooks/user/index.ts
  frontend/src/utils/apiHooks/user/mutations.ts
  frontend/src/utils/apiHooks/user/queries.ts
Owners: @gtangelo, @leonardo-fan

Add more static queries
  frontend/src/components/CourseDescriptionPanel/CourseDescriptionPanel.tsx
  frontend/src/pages/CourseSelector/CourseBanner/CourseBanner.tsx
  frontend/src/pages/CourseSelector/CourseMenu/CourseMenu.tsx
  frontend/src/pages/ProgressionChecker/Dashboard/Dashboard.tsx
  frontend/src/pages/ProgressionChecker/ProgressionChecker.tsx
  frontend/src/utils/apiHooks/static.ts
Owners: @gtangelo, @leonardo-fan

wip: finished all the static hooks
  frontend/src/components/PrerequisiteTree/PrerequisiteTree.tsx
  frontend/src/pages/DegreeWizard/DegreeStep/DegreeStep.tsx
  frontend/src/pages/DegreeWizard/DegreeWizard.tsx
  frontend/src/pages/DegreeWizard/SpecialisationStep/SpecialisationStep.tsx
  frontend/src/pages/GraphicalSelector/CourseGraph/CourseGraph.tsx
  frontend/src/utils/apiHooks/hookHelpers.ts
  frontend/src/utils/apiHooks/static.ts
Owners: @gtangelo, @leonardo-fan

wip: temporary fixed non-null assertion issues
  frontend/src/components/Auth/RequireToken.tsx
  frontend/src/pages/CourseSelector/CourseMenu/CourseMenu.tsx
  frontend/src/pages/GraphicalSelector/CourseGraph/CourseGraph.tsx
  frontend/src/pages/ProgressionChecker/ProgressionChecker.tsx
  frontend/src/utils/apiHooks/hookHelpers.ts
Owners: @gtangelo, @leonardo-fan

fix: replace combo extended info query with 3 separate queries
  frontend/src/components/CourseDescriptionPanel/CourseDescriptionPanel.tsx
  frontend/src/utils/apiHooks/static.ts
  frontend/src/utils/queryUtils.ts
Owners: @gtangelo, @leonardo-fan

feat: applied sensible default settings for queries
  frontend/src/pages/CourseSelector/CourseBanner/CourseBanner.tsx
  frontend/src/pages/ProgressionChecker/Dashboard/Dashboard.tsx
  frontend/src/utils/api/unilectivesApi.ts
  frontend/src/utils/apiHooks/hookHelpers.ts
  frontend/src/utils/apiHooks/static.ts
Owners: @gtangelo, @leonardo-fan

fix: refactored graphical selector slightly to finally fix bubble highlighting
  frontend/src/pages/GraphicalSelector/CourseGraph/CourseGraph.tsx
Owners: @gtangelo, @leonardo-fan

fix: Disable guest accounts (#1203)
  backend/requirements.txt
  backend/server/routers/auth.py
  backend/server/routers/dev.py
  backend/server/server.py
  backend/server/tests/user/utility.py
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Login/styles.ts
  setup_env.py
Owners: @Peedee2002, @imagine-hussain, @gtangelo, @leonardo-fan

fix: final to keys
  frontend/src/pages/LoginSuccess/LoginSuccess.tsx
  frontend/src/pages/TermPlanner/TermPlanner.tsx
Owners: @gtangelo, @leonardo-fan

fix: extracted out the default options
  frontend/src/pages/LoginSuccess/LoginSuccess.tsx
  frontend/src/pages/TermPlanner/TermPlanner.tsx
  frontend/src/utils/apiHooks/hookHelpers.ts
Owners: @gtangelo, @leonardo-fan

hotfix: added leeway to token validation to handle clock unsynchronization
  backend/server/routers/utility/oidc/requests.py
Owners: @Peedee2002, @imagine-hussain

hotfix: i forgor the keys in the onMutates
  frontend/src/pages/TermPlanner/TermPlanner.tsx
Owners: @gtangelo, @leonardo-fan

hotfix(tp+oidc): fixed the wrong keys in optimistic mutations and added leeway to OIDC token validation (#1206)
  backend/server/routers/utility/oidc/requests.py
  frontend/src/pages/TermPlanner/TermPlanner.tsx
Owners: @Peedee2002, @imagine-hussain, @gtangelo, @leonardo-fan

Added ci pipeline for staging branch
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-staging.yml
  .github/workflows/pylinter.yml
Owners: @csesoc/technical

Revert "Added ci pipeline for staging branch"
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-staging.yml
  .github/workflows/pylinter.yml
Owners: @csesoc/technical

Added ci pipeline for staging branch
  .github/workflows/codeql.yml
  .github/workflows/docker-staging.yml
Owners: @csesoc/technical

fix: Altered deployment label from prod to staging
  .github/workflows/docker-staging.yml
Owners: @csesoc/technical
